/*********************
 基本样式，增强功能
*********************/
/*** Colors ***/
.color-theme {color: #009966 !important; }
.color-red { color: #e02222;}
.color-blue { color: #0da3e2;}
.color-grey { color: #555555;}
.color-green { color: #35aa47;}
.color-yellow { color: #ffb848;}
.color-purple { color: #852b99;}
.color-light-red { color: #ff6100;}
.color-light-blue { color: #bfd5fa;}
.color-light-grey { color: #fafafa;}
.color-light-green { color: #78df1d;}
.color-sea {color: #1abc9c;}
.color-red {color: #e74c3c;}
.color-blue {color: #3498db;}
.color-green {color: #72c02c;}
.color-orange {color: #e67e22;}
.color-green1 {color: #2ecc71;}
.color-white {color: #dadada;}

/* form error */
label.error {
    color: #ff0000;
    font-style: italic;
}

/*** Misc tools ***/
.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}
.no-bottom-space {
    padding-bottom:0;
    margin-bottom: 0;
}
.no-top-space {
    padding-top:0;
    margin-top: 0;
}
.no-space {
    margin: 0;
    padding: 0;
}
.no-text-shadow {
    text-shadow: none;
}

.padding-top-5 {
    padding-top: 5px;
}
.padding-top-10 {
    padding-top: 10px;
}
.padding-top-15 {
    padding-top: 15px;
}
.padding-top-20 {
    padding-top: 20px;
}
.padding-top-25 {
    padding-top: 25px;
}
.padding-top-30 {
    padding-top: 30px;
}
.padding-top-35 {
    padding-top: 35px;
}
.padding-top-40 {
    padding-top: 40px;
}
.padding-top-45 {
    padding-top: 45px;
}
.padding-top-50 {
    padding-top: 50px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-25 {
    margin-bottom: 25px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-35 {
    margin-bottom: 35px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-left-0 {
    margin-left: 0;
}
.margin-right-0 {
    margin-right: 0;
}

.margin-left-5 {
    margin-left: 5px;
}
.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}
.margin-right-20 {
    margin-right: 20px;
}
.margin-left-20 {
    margin-left: 20px;
}

.padding-left-0 {
    padding-left: 0;
}
.padding-right-0 {
    padding-right: 0;
}
.padding-right-30 {
    padding-right: 30px;
}


.fa-margin-right-5 .fa {
    margin-right: 5px;
}


.input-tips {
    margin-left: 10px;
}

label.required:before {
    content: "\f069";
    font-family: FontAwesome;
    color: #e02222;
    margin-right: 2px;
    font-size: 9px;
}


/*** Custom Scrollbars ***/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #cecece;
}

::-webkit-scrollbar-thumb {
    background-color: #cecece;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    box-shadow: none;
    border: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    box-shadow: none;
    border: 0;
}

/* overides metro scrolbars in IE10 and makes them look like a default scrollbar */
@-ms-viewport{
    width: auto !important;
}