<div id="pre-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-6">
                <h4>Job Seeker</h4>
                <ul class="list-unstyled">
                    <li><a href="{$siteConf['Main']['WebBaseUrl']}/position/All_All_Full-time.html">Full-time Job</a></li>
                    <li><a href="{$siteConf['Main']['WebBaseUrl']}/position/All_All_Part-time.html">Part-time Job</a></li>
                    <li><a href="{$siteConf['Internship']['WebBaseUrl']}">Internship</a></li>
                </ul>
            </div>
            <!--<div class="col-md-2 col-sm-6">-->
                <!--<h4>Resource</h4>-->
                <!--<ul class="list-unstyled">-->
                    <!--&lt;!&ndash;<li><a href="{$siteConf['Forum']['WebBaseUrl']}" target="_blank">Guide in China</a></li>&ndash;&gt;-->
                    <!--<li><a href="{:U('help/index@www')}" target="_blank">Help center</a></li>-->
                    <!--<li><a href="{:U('sitemap/index@www')}" target="_blank">Site map</a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <div class="col-md-2 col-sm-6 hidden-xs">
                <h4>Company</h4>
                <ul class="list-unstyled">
                    <li><a href="{:U('about/index@www')}" target="_blank">About Us</a></li>
                    <li><a href="{:U('about/contact@www')}" target="_blank">Contact Us</a></li>
                    <li><a href="{$siteConf['Blog']['WebBaseUrl']}" target="_blank">Blog</a></li>
                </ul>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="pull-left">
                    <h4>Contact Us</h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-envelope fa-fw"></i><a href="mailto:info@hiredchina.com">info@hiredchina.com</a></li>
                        <li><i class="fa fa-skype fa-fw"></i><span>HiredChina</span></li>
                    </ul>
                </div>
                <div class="pull-right hidden-xs">
                    <ul class="list-inline list-unstyled text-center" id="wechat">
                        <li><img style="width: 120px" class="img-responsive" src="__STATIC__/img/wechat_guideinchina.jpg" /><span class="color-theme">Wechat for Job Seeker</span></li>
                        <li><img style="width: 120px" class="img-responsive" src="__STATIC__/img/wechat_hiredchina.jpg" /><span class="color-theme">Wechat for Recruiter</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <span>&copy; 2013-2014  {$companyName}</span>
            </div>
            <div class="col-md-6 col-sm-6 hidden-xs" id="social-media">
                <ul class="list-unstyled list-inline pull-right">
                    <li>
                        <a href="https://www.facebook.com/HiredChina"><i class="fa fa-facebook-square color-theme"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/hiredchina"><i class="fa fa-linkedin-square color-theme"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/HiredChina"><i class="fa fa-twitter-square color-theme"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/user/HiredChina"><i class="fa fa-youtube-square color-theme"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>