<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>{$title}</title>
    <link rel="icon" href="__STATIC__/img/favicon.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Seo 标签  -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="__STATIC__/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/plugins/font-awesome/css/font-awesome.min.css">
</head>
<body style="background-color: #f5f5f5;">
<div class="container">
    <div class="row" style="margin-top: 100px">
        <div class="col-md-12 text-center">
            <img style="height: 100px" src="__STATIC__/img/logo_small.png">
            <h1>Coming Soon!</h1>
            <p>&copy; 2014  {$companyName}</p>
        </div>
    </div>
</div>
</body>
</html>